@model DesceUmaGeralada.Models.NotaFiscal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NotaFiscal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NotaFiscalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
